/* map */

.maps {
    margin-left: 85px;
    margin-top: 168px;
    margin-bottom: 168px;
}
.maps__wrapper {
}
.maps__heading {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    
    
    color: #83888F;
    margin-bottom: 72px;
}
.map__list {
    display: flex;
}
.map__items {
    margin-right: 118px;
}
.united {
}
.map__images {
    margin-bottom: 46px;
}
.items__heading-map {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    
    
    color: #333D4B;
    margin-bottom: 25px;
}
.map__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    
    
    color: #333D4B;
    width: 285px;
    height: 107px;
}