.preferences {
    margin-bottom: 264px;
    
    &__wrapper {
        display: flex;
        align-items: flex-start;
        color: #333D4B;
    }
    
    &__list-ordered {
        margin-right: 125px;
    }
    
    &__item {
        display: flex;
        align-items: center;
        padding: 24px 0;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        &:not(:last-child) {
            box-shadow: 0 1px #83888F;
        }
    }
    
    &__link-driver {
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        opacity: 0.6;
        &::before {
            content: "01";
            display: inline-block;
            padding-right: 28px;
        }
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 1;
        }
    }
    
    &__link-driver-link--nd {
        &::before {
            content: "02";
        }
        
    }
    
    &__link-driver-link--rd {
        &::before {
            content: "03";
        }
    }
    
    &__link-driver-link--rth {
        &::before {
            content: "04";
        }
    }
    
    &__link-driver-link--fth {
        &::before {
            content: "05";
        }
    }
    
    &__wrapper-left {
        display: flex;
        flex-direction: column;
    }
    
    &__heading {
        color: #83888F;
        margin-bottom: 56px;
    }
    
    &__list-option {
        display: flex;
        align-items: center;
        margin-bottom: 88px;
    }
    
    &__item-option {
        width: 228px;
        background-color: #F4F1EB;
        color: #333D4B;
        border-radius: 8px;
        &:not(:last-child) {
            margin-right: 23px;
        }
        &:hover {
            background-color: #FDD6BA;
        }
    }
    
    &__wrapper-annoying {
        padding: 32px 28px 88px 28px;
    }

    &__input-inner:checked + &__wrapper-annoying {
        color: #FEFCF7;
        background-color: #0E8784;
        border-radius: 8px;
    }

    &__input-inner {
        display: none;
    }
    
    &__heading-item {
        width: 175px;
        margin-bottom: 24px;
    }
    
    &__list-order {
        display: flex;
        flex-direction: column;
        background-color: #2C343E;
        padding: 27px 64px;
        margin-bottom: 40px;
    }
    
    &__text-total {
        text-transform: uppercase;
        color: #ffffff;
        opacity: 0.5;
    }
    
    &__text-info {
        width: 602px;
        font-size: 24px;
        line-height: 40px;    
        color: #FFFFFF;
    }
    
    &__link-overlooked {
        align-self: flex-end;
        border: none;
    }
}